body {
    background-color: rgb(25, 25, 25);
    color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(180, 180, 180);
}

a:active {
    color: rgb(180, 180, 180);
}

nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  font-size: 24px;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  background-color: black;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(45deg, red, rgb(255, 0, 208));
  font-size: 36px;
}

header h1 {
  margin: 0;
  padding: 4rem;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.about p {
  width: 50rem;
  padding: 1rem;
}

.parts {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  max-width: 100%;
  margin: 0;
  padding: 4rem;
}

article {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 100%;
  background-color: rgb(30, 30, 30);
}

article ul {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
  gap: 1rem;
  width: 100rem;
  flex-wrap: wrap;
}

article li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  background-color: rgb(16, 16, 16);
  padding: 1rem;
  border-radius: 0.5rem;
  transition: transform 200ms;
}

article li:hover {
  transform: scale(105%);
  cursor: pointer;
}

.filter {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.filterDropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(16, 16, 16);;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 0.5rem;
}

.filterDropdown.show {
  display: block;
}

.filterDropdown li {
  padding: 6px 10px;
  color: rgb(240, 240, 240);
  cursor: pointer;
}

.filterDropdown li:hover {
  background: #444;
}

.components {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.components img{
    width: 256px;
    height: 256px;
}

.componentCard {
    background-color: rgb(16, 16, 16);;
    color: rgb(240, 240, 240);
    padding: 1rem;
    border-radius: 0.5rem;
    transition: transform 200ms;
}

.componentCard:hover {
    transform: scale(105%);
    cursor: pointer;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 100%;
  bottom: 0;
  padding: 2rem;
  background-image: linear-gradient(45deg, red, rgb(255, 0, 208));
}